.envoltura {
	padding: 1em;		
 	display: inline-grid;
  	grid-template-columns: auto auto;
  	grid-template-rows: auto;
}
.rejilla-relacionado {
  grid-column: 1;
  grid-row: 1 / 1;
}
.rejilla-contenido {
  grid-column: 2;
  grid-row: 1 / 1;
}
body {
	background-image: url("../img/workspace_02-150p-01.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-origin:content-box;	
	font-family: Comic Sans, cursive, Andale Mono, monospace, Trebuchet MS, sans-serif;
}
.section-contenido {
	background-color: #e3dac9; /*White Bone*/
	border-radius: 0px 30px 30px 0px;
	-moz-border-radius: 0px 30px 30px 0px;
	-webkit-border-radius: 0px 30px 30px 0px;
	border: 2px dashed #000000;
	margin-left: 0.5em;
	padding: 2em;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.aside-relacionado {
	background-color: #e3dac9; /*White Bone*/
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 2px dashed #000000;
	margin-right: 0.5em;
	padding: 0.5em;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
@media (orientation:landscape){
	.nav-ul {
		list-style-type:none;
		margin:0;
		padding:0;
		display: -webkit-flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	.nav-li { flex-grow: 1; }
	.nav-a {
	display:block;
	padding:1em;
	background-color:LightCoral;
	text-align:center;
	margin-bottom:0.2em;
	text-decoration:none;
	color:#000000;
	}
	.nav-a:hover {background-color:#e3dac9; }
}
@media (orientation:portrait){
	.nav-ul {	
		list-style-type:none;
		margin:0;
		padding:0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto auto;
	}
	.nav-li { flex-grow: 1; }
	.nav-a {
		display:block;
		padding:1em;
		background-color:LightCoral;
		text-align:center;
		margin-bottom:0.2em;
		text-decoration:none;
		color:#000000;
	}
	.nav-a:hover {background-color:#e3dac9 /*White Bone*/; }
}
footer {
	margin-top: 1em;
}
.cont-relacionado-ol {
	list-style-type:square;
	margin:0;
	padding-left: 1.5em;
	display: -webkit-flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.cont-relacionado-li { flex-grow: 1; }
.cont-relacionado-a {
		display:block;
		padding:1em;
		background-color:LightCoral;
		text-align:center;
		margin-bottom:0.2em;
		text-decoration:none;
		color:#000000;
	}
.cont-relacionado-a:hover {background-color:#e3dac9;}  /*White Bone*/